[Unit]
Description= app-daq instance PM0033
After=multi-user.target

[Service]
Type=simple
ExecStart=/srv/app_daq/app.sh -d PM0033

[Install]
WantedBy=multi-user.target
