[Unit]
Description= app-daq instance PM0025
After=multi-user.target

[Service]
Type=simple
ExecStart=/srv/app_daq/app.sh -d PM0025

[Install]
WantedBy=multi-user.target
