[Unit]
Description= app-daq instance PM0029
After=multi-user.target

[Service]
Type=simple
ExecStart=/srv/app_daq/app.sh -d PM0029

[Install]
WantedBy=multi-user.target
