[Unit]
Description= app-daq instance PM0023
After=multi-user.target

[Service]
Type=simple
ExecStart=/srv/app_daq/app.sh -d PM0023

[Install]
WantedBy=multi-user.target
