[Unit]
Description= DAQ PM0027 tmux Service
PartOf=master.service
After=master.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/srv/app_daq/app.sh PM0027
ExecStop=/usr/bin/tmux kill-session -t PM0027

[Install]
WantedBy=multi-user.target
