[Unit]
Description= DAQ PM0026 tmux Service
PartOf=master.service
After=master.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/srv/app_daq/app.sh PM0026
ExecStop=/usr/bin/tmux kill-session -t PM0026

[Install]
WantedBy=multi-user.target
