[Unit]
Description= DAQ PM0029 tmux Service
PartOf=master.service
After=master.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/srv/app_daq/app.sh PM0029
ExecStop=/usr/bin/tmux kill-session -t PM0029

[Install]
WantedBy=multi-user.target
